{% block content %}
<div class="alert alert-warning"><p>This is the first front-end iteration of the project PlantPi. This project will be complete with the construction of the following features:</p>
					<ul>
						<li>The ability to water houseplant(s) automatically at intervals set by the user or manually.</li>
						<li>The ability to show soil moisture status for each registered plant in real time.</li>
						<li>Graphical representations of historical moisture/watering trends for each registered plant.</li>
						<li>Integration with Google Maps and a Weather service that updates the user with relevant weather data.</li>
					</ul>
				</div>
{% endblock %}